<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.malykh.anton.screen">

    <application>
        <activity
                android:name=".screen.ScreenCoroutines"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
